/* :root {
  --main-font: 'Whisper, Poppins,Helvetica, Arial, sans-serif';
  --heading-font: 'Whisper,Poppins, Georgia, serif';
  --special-font: 'Whisper,Poppins,Times New Roman, serif';
  --large-font: 40px;
  --mid-font: 25px;
  --small-font: 20px;
  --button-font: 30px;
  --primary-color: #e0ebf4;
  --secondary-color: #96c7e7;
  --additional-color: #3e88bb;
  --basic-color: #11232f;
  --light-basic-color: #ffffff;
  --font-color: rgb(14, 45, 64);
} */
