@import '/src/styles/app.css';

.main {
  .best-seller-section {
    width: 100%;
    .section-title {
      .title {
        position: relative;
        width: max-content;
        color: var(--black-color);
        margin: 1rem auto;
        z-index: 2;
      }
    }
    .section-content {
      justify-content: center;
      gap: 1.5rem;

      .single-product {
        height: 100%;
        display: grid;
        row-gap: 10px;
        border-radius: 10px;
        align-items: center;
        background: var(--card-bg);
        box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);

        &:hover {
          background: var(--card-hover);
          box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
          transition: 0.3s ease;
        }

        .img-div {
          height: 180px;
          width: 100%;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 2s ease;
          }
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
        .card-info {
          padding: 1rem;

          .product-title {
            color: var(--black-color);
            font-size: 1.25rem;
          }

          .price {
            width: 100%;
            justify-content: space-between;
            padding: 1rem;
            margin: 1rem 0;
            border-top: 1.5px solid var(--grey-text);
            border-bottom: 1.5px solid var(--grey-text);
            font-size: 2rem;
            color: var(--black-color);
          }

          .description {
            font-size: 13.5px;
            color: var(--text-color);
          }
        }
        .card-controller {
          padding: 1rem;
          .btn {
            margin-top: 1rem;
            color: var(--white-color);
            font-weight: 600;
            justify-content: space-between;
            gap: 0.5rem;

            .icon {
              align-self: center;
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
    &::after {
      width: 155px !important;
    }
  }
  .section-content {
    grid-template-columns: repeat(2, 1fr);

    .single-product {
      height: auto;
    }
  }
}

@media screen and (min-width: 840px) {
  .section-content {
    grid-template-columns: repeat(3, 1fr);

    .single-product {
      height: auto;
    }
  }
}
