@import '/src/styles/app.css';

.row {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 6rem 0 2rem;

  .left-column,
  .right-column {
    width: 100%;
    padding: 10px;
  }
  .left-column {
    img {
      width: 100%;
      position: static;
    }
  }
  .right-column {
    .product-description {
      border-bottom: 1.5px solid var(--grey-text);
      margin-bottom: 20px;

      span {
        font-size: 12px;
        color: var(--secondary-color);
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
      }
      h1 {
        font-weight: 300;
        font-size: 52px;
        color: var(--black-color);
        letter-spacing: -2px;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        color: var(--text-color);
        line-height: 24px;
      }
    }

    .product-details {
      border-bottom: 1px solid var(--grey-text);
      margin-bottom: 20px;
      .details {
        .choose {
          margin-bottom: 20px;
          button {
            border: 1px solid var(--grey-text);
            border-radius: 0.4rem;
            padding: 13px 20px;
            margin-left: 4px;
            font-size: 14px;
            color: var(--text-color);
            background-color: var(--white-color);
            cursor: pointer;
            transition: all 0.5s;
            &:hover,
            &:active,
            &:focus {
              border: 1px solid var(--text-color);
              outline: none;
            }
            &.selected {
              background-color: var(--grey-text);
            }
          }
          span {
            border: 1px solid var(--grey-text);
            border-radius: 6px;
            padding: 13px 20px;
            font-size: 14px;
            color: var(--text-color);
            background-color: var(--white-color);
            display: inline-block;
          }
        }
      }
    }

    .product-price {
      display: flex;
      align-items: center;
      span {
        font-size: 26px;
        font-weight: 300;
        color: var(--black-color);
        margin-right: 20px;
      }
      button {
        border: none;
        border-radius: 6px;
        padding: 5px 20px;
        font-size: 14px;
        color: var(--white-color);
        background-color: var(--add-button);
        cursor: pointer;
        transition: all 0.5s;
        display: flex;
        align-items: center;
        margin-left: 4px;

        &:hover {
          background-color: var(--add-hover);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }

  .left-column {
    width: 35%;
  }

  .right-column {
    width: 65%;
  }
}

@media screen and (max-width: 650px) {
  .row {
    flex-direction: column;
    margin-bottom: 35rem;
    .left-column,
    .right-column {
      width: 100%;
    }

    .right-column {
      .product-description,
      .product-details,
      .product-price {
        margin-bottom: 10px;
      }
    }
  }
}

